{
  email webmaster@moritzruth.de
}

stjj.de {
  reverse_proxy /api/* backend:8000
  reverse_proxy /files/* backend:8000
  reverse_proxy * frontend:3000
}

www.stjj.de {
  redir * https://stjj.de{uri} permanent
}

analytics.stjj.de {
  reverse_proxy * umami:3000
}

chat.stjj.de {
  reverse_proxy * rocketchat:3000
}
