{
  email webmaster@moritzruth.de
}

stjj.de {
  reverse_proxy /api/* website_backend:8000
  reverse_proxy /files* website_backend:8000
  reverse_proxy * website_frontend:3000
}

new.stjj.de {
  reverse_proxy /graphql/* website_strapi:8000
  reverse_proxy /uploads/* website_strapi:8000
  reverse_proxy * website2_frontend:3000
}

www.stjj.de {
  redir * https://stjj.de{uri} permanent
}

analytics.stjj.de {
  reverse_proxy * umami:3000
}

chat.stjj.de {
  reverse_proxy * rocketchat:3000
}
